@page "/allPost"

@using WebBlog.Services;
@using WebBlog.Data.Models;

@inject IPostService postService;

<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>WebBlog</h1>
                    <span class="subheading">Todas las publicaciones</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @if (listPost == null)
            {
                <div>Loading...</div>
            }
            else
            {
                @foreach (var item in listPost)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post/@item.Id">
                            <h2 class="post-title">@item.Title</h2>
                            <h3 class="post-subtitle">@TruncateContent(item.Content)</h3>
                        </a>
                        <p class="post-meta">
                            Publicado por
                            <a href="#!">@item.Author</a>
                            el @item.CreatedAt
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            }
        </div>
    </div>
</div>

@code {
    List<WebBlog.Data.Models.Post>? listPost = null;

    protected override async Task OnInitializedAsync()
    {
        listPost = await postService.Get();
    }

    private string TruncateContent(string content)
    {
        if (content.Length <= 100)
        {
            return content;
        }
        return content.Substring(0, 100) + "...";
    }
}
